.container {
  color: green;
  padding: 10px;
}

[class*='col-'] {
  border: 1px solid blue;
  box-sizing: border-box;
  float: left;
}

.col-1-4 {
  width: 25.0%;
}

.col-1-2 {
  width: 50.0%;
}

.col-1-1 {
  width: 100.0%;
}

.container {
  border: 1px solid red;
}

.container:after {
  content: "";
  display: table;
  clear: both;
}